<header class="location-header">
  <p><%= @address %></p>
</header>

<div class="weather-container">
  <div class="current-weather">
    <% if @current_weather.present? %>
      <%= render "dashboards/forecast", forecast: @current_weather %>
    <% end %>
  </div>

  <% if @forecast_weather.present? %>
    <div class="forecast-details">
      <h2>3 Day Forecast</h2>
      <%= render partial: "dashboards/forecast", collection: @forecast_weather, as: :forecast %>
    </div>
  <% end %>
</div>

<footer class="search-bar-container">
  <%= form_with url: root_path, method: :get do |form| %>
    <%= form.text_field :address, placeholder: "Enter an address", class: "search-input" %>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>
</footer>
