<header class="location-header">
  <h1><%= @location_name %></h1>
  <p><%= @full_address %></p>
</header>

<div class="weather-container">
  <div class="current-weather">
    <%= render "dashboards/forecast" %>
  </div>

  <div class="forecast-details">
  </div>
</div>

<footer class="search-bar-container">
  <%= form_with url: root_path, method: :get do |form| %>
    <%= form.text_field :address, placeholder: "Enter an address", class: "search-input" %>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>
</footer>
